#######################################
# Output
#######################################
dist

#######################################
# node
#######################################
# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules
